# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
